@charset "utf-8";
#form_file {
    border: 2px solid green;
    border-radius: 10px;
    margin: 10px;
    width: 450px;
    height: 30px;
    padding: 10px;
    display: inline-block;
   }
   input[name="input_file"]{
       width: 400px;
   }